<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4">
      <form action="#" class="form" (ngSubmit)="addItem(newTodoItem)">
        <label for="new-todo-item" class="sr-only">Add a new todo item</label>
        <div class="input-group">
          <input type="text" id="new-todo-item" class="form-control form-control-lg" #newTodoItem>
          <div class="input-group-append">
            <button class="btn btn-success" (click)="addItem(newTodoItem)">
              <span class="sr-only">Add</span> 
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-sm-6 col-md-7 col-lg-8">
      <ul class="list-group">
        <li class="list-group-item todo" *ngFor="let item of todoList">
          <span class="todo__icon todo__icon--status" [class.text-success]="item.done" (click)="updateItemStatus(item.id, item.done)">
            <i class="far" [ngClass]="item.done ? 'fa-check-circle' : 'fa-circle'"></i>
          </span>
          <span class="todo__label">{{ item.label }}</span>
          <span class="todo__icon todo__icon--delete float-right text-danger" (click)="deleteItem(item.id)">
            <i class="far fa-trash-alt"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div> 